.toolbar button, .toolbar a {
  background: green;
  color: #ffffff;
  border: none;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 34px;
          border-radius: 34px;
  margin: 10px; }
